#list_table{
    width:100%;
    margin:0 auto;
    border:0;
    box-shadow: 0 5px 30px darkgrey;
    border-spacing: 0;
  }
  
  #list_table thead th{
    font-weight: bold;
    background-color: black;
    color:white;    
    padding:5px 10px;
  }
  
  #list_table tr td{
    padding:5px 10px;
    text-align: center;    
    color: white;
    cursor: pointer; /**importante para não mostrar cursor de texto**/
  }
  
  #list_table tr td:last-child{
    text-align: right;
  }
  
  /**Cores**/
  #list_table tr:nth-child(odd){
    background-color: rgb(37, 37, 38);
  }
  
  /**Cor quando passar por cima**/
  #list_table tr:hover td{
    background-color:rgb(135, 108, 226);
  }
  
  /**Cor quando selecionado**/
  #list_table tr.selected_line td{
    background-color: rgb(100, 70, 197);
  }