.list_tableChecklist{
  width:100%;
  margin:0 auto;
  border:0;
  box-shadow: 0 5px 10px darkgrey;
  border-spacing: 0;
  /* border-radius: 10px; */
}
  
.list_tableChecklist thead th{
  font-weight: bold;
  background-color: black;
  color:white;    
  padding:5px 0px;
}
  
.list_tableChecklist tr td{
  padding:5px 10px;
  text-align: left;    
  color: white;
  cursor: pointer; /**importante para não mostrar cursor de texto**/
}
  
.list_tableChecklist tr td:last-child{
  text-align: left;
}

.list_tableChecklist tr td:first-child{
  text-align: left;
  width: 0;
  padding-left: 10px;
}
  
/**Cores**/
.list_tableChecklist tr:nth-child(odd){
  background-color: rgb(30, 30, 30); 
}
  
/**Cor quando passar por cima**/
.list_tableChecklist tr:hover td{
  background-color:rgb(135, 108, 226);
}
  
/**Cor quando selecionado**/
.list_tableChecklist tr.selected_line td{
  background-color: rgb(100, 70, 197);
}